<% @band = Band.find(params[:id])%>
<% @user = User.find(params[:id] || current_user)%>
<div>
<h3 align="center" class="text text-info"> <%= @band.name %></h3>
<h4 align="center" id="description"><%= @band.description %></h4>
</div>
<br>
<div>
<%if member.count == 0 %>
<%@user = User.find(params[:id])%>
<p>No Members yet.</p> 
<%= link_to 'Join', 'join_band', class: "btn btn-info", method: 'get', remote: true %>
<% elsif member.count == 1 %>
<span class="badge badge-warning"><%= link_to 'Edit', edit_band_path(@band)%></span>
<p class="text-warning"><p>

<h5>Founding Member:</h5>
<h5><%= link_to "#{member.pluck(:username).join}", user_path(member.pluck(:id)) %></h5>
<%else%>
<h5><%= member.uniq.count %> Members: </p></h5>
<%member.uniq.each do |m| %>
<h5><%= link_to "#{m.username} ", user_path(m.id) %></h5>
<br>

<%end%>
</div>

<% if @band.users.pluck(:user_id).include?(current_user.id) %>
	<%= link_to 'edit', edit_band_path(@band)%>
<% else %>

<%= link_to 'Join', url = "/bands/#{@band.id}/join", class: "btn btn-info", method: 'update', remote: true %>
<%end%>

<% end %>
