<% @band = Band.find(params[:id])%>
<% @user = User.find(params[:id] || current_user)%>
<div>
<h3 align="center" class="text text-info"> <%= @band.name %></h3>
<h4 align="center" id="description"><%= @band.description %></h4>
</div>
<br>
<div>
<%if member.count == 0 %>
<%@user = User.find(params[:id])%>
<p>No Members yet.</p> 
<%= link_to "Place an Order", @user_join, params: {id: @band}, method: :update %><br>
<% else %>
<h5><%= member.count %> Members: </p></h5>
<%member.each do |m| %>
<h5><%= link_to "#{m.username} ", user_path(m.id) %></h5>
<br>

<%end%>
</div>

<%end%>
<%= link_to 'Join', join_path class: "btn btn-info", method: 'join_band', remote: true %>
