
<%= form_for @gig do |form| %>
  <%= form.label :name, "Sweet gig name:" %>
  <br>
  <%= form.text_field :name %>
  <br>
  <br>
    <%= form.label :description, "Description of your gig:" %>
  <br>
  <%= form.text_area :description, size: "60x3" %>
  <br><br>
  <%= form.check_box :joinable, {}, checked_value = "false", unchecked_value = "true" %> 
  <%= form.label :joinable, "Private?" %> <span class="badge badge-warning">(No one will be able to join a band with you using this gig)</span>
  <br>
  <br>
  <%= form.submit %>
<% end %>

